body {
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Inter', sans-serif;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar-dark {
    background-color: #343a40 !important;
}

.card {
    border: orange 2px solid;
}

.card:hover {
    opacity: 0.7;
}

.card-body {
    background-color: bisque;
}

#welcome-text {
    height: 90px;

}


footer {
    color: white;
    text-align: center;
    padding: 0;
    margin-top: -30px;
    margin-bottom: -100px;
    font-size: 15px;
}